{% extends "layout.njk" %}

{% block title %}
    <title>Nova Receita</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="/css/form.css">
{% endblock styles %}

{% block content %}

  <form class="form" method="POST" action="/admin/recipe">
    <section class="form__details">
      <h3>Nova Receita</h3>
      
      <div class="form__items">
      
        <div class="form__item">
          <h4>Imagem da Receita</h4>
          <div>
            <input type="url" name="image" placeholder="https://" value="{{ recipe.image }}">
          </div>
        </div>

        <div class="form__item">
          <h4>Título da receita</h4>
          <div>
            <input type="text" name="title" placeholder="Título da Receita" value="{{ recipe.title }}">
          </div>
        </div>

        <div class="form__item">
          <h4>Autor</h4>
          <div>
            <input type="text" name="author" value="{{ recipe.author }}">
          </div>
        </div>

        <div class="form__item">
          <h4>Ingredientes</h4>
          
          <ul>
            <li>
              <input type="text" name="ingredients" value="{{ recipe.ingredients }}">
            </li>
          </ul>

          <button id="ingredientButton">+ Adicionar Ingrediente</button>
        </div>

        <div class="form__item">
          <h4>Modo de Preparo</h4>
          
          <ul>
            <li>
              <input type="text" name="preparation" value="{{ recipe.preparation }}">
            </li>
          </ul>

          <button id="stepButton">+ Adicionar Etapa</button>
        </div>

        <div class="form__item">
          <h4>Informações Adicionais</h4>
          <div>
            <input type="text" name="title" value="{{ recipe.information }}">
          </div>
        </div>

      </div>
      <button type="submit">Salvar</button>
      
    </section>
  </form>


{% endblock content %}

{% block scripts %}
  <script src="/js/form.js"></script>
{% endblock scripts %}