{% extends "layout.njk" %}

{% block styles %}
  <link rel="stylesheet" href="/css/create.css">
{% endblock styles %}

{% block content %}



{% endblock content %}

{% block scripts %}
  <script src="/js/form.js"></script>
{% endblock scripts %}