{% extends "layout.njk" %}

{% block title %}
  <title>Editar - {{ recipe.title }}</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="/css/form.css">
{% endblock styles %}

{% block content %}

  <form class="form" method="POST" action="/admin/recipe?_method=PUT">
    <section class="form__avatar" style="background: url(https://source.unsplash.com/collection/3450082/500x500) no-repeat center center / cover"></section>
    <section class="form__details">
      <h3>Editar Receita</h3>
      
      <div class="form__item">
        <h4>Imagem da Receita</h4>
        <div>
          <input type="url" name="image" placeholder="https://" value="{{ recipe.image }}">
        </div>
      </div>

      <div class="form__item">
        <h4>Título da receita</h4>
        <div>
          <input type="text" name="title" value="{{ recipe.title }}">
        </div>
      </div>

      <div class="form__item">
        <h4>Autor</h4>
        <div>
          <input type="text" name="author" value="{{ recipe.author }}">
        </div>
      </div>

      <div class="form__item">
        <h4>Ingredientes</h4>
        
        {% for ingredient in recipe.ingredients %}
          <div>
            <input type="text" name="ingredients" value="{{ ingredient }}">
          </div>
        {% endfor %}

        <button id="ingredientButton">+ Adicionar Ingrediente</button>
      </div>

      <div class="form__item">
        <h4>Modo de Preparo</h4>
        
        {% for step in recipe.preparation %}
          <div>
            <input type="text" name="preparation" value="{{ step }}">
          </div>
        {% endfor %}

        <button id="stepButton">+ Adicionar Etapa</button>
      </div>

      <div class="form__item">
        <h4>Informações Adicionais</h4>
        <div>
          <input type="text" name="information" value="{{ recipe.information }}">
        </div>
      </div>

      <button type="submit">Salvar</button>

      {# <form id="form__delete" method="POST" action="/instructors?_method=DELETE">
        <input type="hidden" name="id" value="{{ recipe.id }}">
        <button type="submit">Deletar</button>
      </form> #}
      
    </section>
  </form>

{% endblock content %}

{% block scripts %}
  <script src="/js/form.js"></script>
{% endblock scripts %}