{% extends "layout.njk" %}

{% block title %}
  <title>Editar - {{ recipe.title }}</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="/css/edit.css">
{% endblock styles %}

{% block content %}



{% endblock content %}

{% block scripts %}
  <script src="/js/form.js"></script>
{% endblock scripts %}