/*=== INDEX PAGE (ALL RECIPES) ===*/
.index__allRecipes {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.index__allRecipes___title {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index__allRecipes h2 {
  font-family: Pacifico;
  text-align: left;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 32px;
  letter-spacing: 1px;
  color: #4d4d4d;
}

.index__allRecipes a.recipe__addButton {
  outline: none;
  background-color: var(--primary-color);
  width: 30%;
  min-width: 190px;
  height: 50%;
  line-height: 50px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-family: Pacifico;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
}

.index__allRecipes a.recipe__addButton:hover {
  background-color: #e24c0b;
}

.index__cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 16px;
  user-select: none;
}

.index__cards a {
  text-decoration: none;
  color: #4d4d4d;
}

.index__card {
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
  background-color: #faeeee;
  border-radius: 18px;
  height: 30vh;
  transition: 0.7s;
}

.index__card:hover {
  box-shadow: inset 0px 0px 6px var(--primary-color);
}

.index__card___image {
  height: 60%;
  padding-top: 3%;
}

.index__card___image img {
  display: block;
  width: 93%;
  height: 100%;
  border-radius: 16px;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.index__card___title {
  font-family: Roboto;
  text-align: center;
  padding-top: 12px;
}

.index__card___author {
  font-family: Roboto;
  color: #8f8f8f;
  text-align: center;
  padding-top: 2px;
}
