:root {
  --primary-color: #f36f36;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  box-sizing: border-box;
}

/*=== NAVBAR ===*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
  background: #f36f36;
  user-select: none;
}

.logo a {
  text-decoration: none;
}

.logo h4 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 32px;
  font-weight: normal;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
}

.burger {
  display: none;
}

.overlay.hide {
  opacity: 0;
  visibility: hidden;
}

/*=== FOOTER ===*/
footer {
  background-color: rgba(238, 238, 238, 1);
  height: 62px;

  padding: 25px;

  font-family: Roboto;
  text-align: center;
  font-size: 14px;
  color: rgba(153, 153, 153, 1);
}
