:root {
  --primary-color: #f36f36;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*=== NAVBAR ===*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background: #f36f36;
}

.logo h4 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 24px;
  font-weight: normal;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  margin: 5px;
}
