{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock styles %}

{% block content %}
<main class="home">
    <div class="home__banner">
        <div class="home__banner___title">
            <h1>As melhores receitas</h1>
        </div>
        <div class="home__banner___description">
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro!</p>
        </div>
        <div class="home__banner___image"><img src="/assets/dish.svg" alt="" srcset=""></div>
    </div>

    <div class="home__lastAdd">
        <h2>Ultimas Adicionadas</h2>
        <div class="home__cards">
            {% for recipe in recipes %}
                <a href="/recipe/{{ recipe.id }}">
                    <div class="home__card">
                        <div class="home__card___image">
                            <img src="{{ recipe.image }}" alt="burguer">
                        </div>
                        <div class="home__card___title">
                            <h3>{{ recipe.title }}</h3>
                        </div>
                        <div class="home__card___author">
                            <p>{{ recipe.author }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
