{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock styles %}

{% block content %}
    <section class="index__allRecipes">
        <H2>Todas as Receitas</H2>

        <div class="index__cards">

            {% for recipe in recipes %}
                <a href="/recipe/{{ recipe.id }}">
                    <div class="index__card">
                        <div class="index__card___image">
                            <img src="{{ recipe.image }}" alt="burguer">
                        </div>
                        <div class="index__card___title">
                            <h3>{{ recipe.title }}</h3>
                        </div>
                        <div class="index__card___author">
                            <p>{{ recipe.author }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% for recipe in recipes %}
                <a href="/recipe/{{ recipe.id }}">
                    <div class="index__card">
                        <div class="index__card___image">
                            <img src="{{ recipe.image }}" alt="burguer">
                        </div>
                        <div class="index__card___title">
                            <h3>{{ recipe.title }}</h3>
                        </div>
                        <div class="index__card___author">
                            <p>{{ recipe.author }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

            
        </div>
    </section>
{% endblock content %}
