header nav a:first-child {
    font-weight: bold;
}

.about {
    width: 90%;
    max-width: 940rem;

    margin: 0 auto;
}

.about__content h1 {
    margin-top: 25rem;

    color: rgba(17, 17, 17, 1);
    font-size: 24rem;
}

.about__content h4 {
    margin-top: 25rem;

    color: rgba(17, 17, 17, 1);
    font-size: 20rem;
}

.about__content p {
    margin: 20rem 0;

    color: rgba(68, 68, 68, 1);
    font-size: 18rem;
    line-height: 28rem;
}